<div fxLayout="row" id="login">
    <div fxFlex fxHide fxShow.gt-xs id="login-intro">

        <div [@animate]="{value:'*',params:{scale:'0.1'}}" class="logo1">
            <img src="assets/images/login/banner1.svg">
        </div>

        <div [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}" class="title">
            Bienvenue cher BOO'keur
        </div>

        <div [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}" class="description">
            Vous pouvez maintenant accéder à votre BOO'compte
        </div>

    </div>
    <div fxLayout="column" fxLayoutAlign="center center" id="login-form-wrapper">

        <div [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" id="login-form">

            <div class="logo">
                <img src="assets/images/logos/logo.png">
            </div>

            <div class="title">Accéder à votre BOO'compte</div>

            <form (ngSubmit)="onFormSubmit()" [formGroup]="loginForm" name="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Identifiant</mat-label>
                    <input formControlName="email" matInput>
                    <mat-icon class="secondary-text" matSuffix>person_outline
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Veuillez entrer votre Email
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                            loginForm.get('email').hasError('email')">
                        Veuillez vérifier votre Email
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input formControlName="password" matInput type="password">
                    <mat-icon class="secondary-text" matSuffix>vpn_key</mat-icon>
                    <mat-error>
                        Veuillez entrer votre Mot de Passe
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox aria-label="Remember Me" class="remember-me">
                        Rester conntecté
                    </mat-checkbox>

                    <a [routerLink]="'/pages/auth/forgot-password'" class="forgot-password">
                        Mot de passe oublié?
                    </a>
                </div>

                <button [disabled]="loginForm.invalid" aria-label="LOG IN" class="submit-button" color="accent"
                        mat-raised-button>
                    S'authentifier
                </button>

            </form>


        </div>

    </div>

</div>