<form>
    <h4>mat-select</h4>
    <mat-form-field>
        <mat-select [(ngModel)]="selectedValue" name="food" placeholder="Favorite food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <p> Selected food: {{selectedValue}} </p>
    <h4>native html select</h4>
    <mat-form-field>
        <select [(ngModel)]="selectedCar" matNativeControl name="car" placeholder="Favorite car">
            <option disabled selected value=""></option>
            <option *ngFor="let car of cars" [value]="car.value">
                {{car.viewValue}}
            </option>
        </select>
    </mat-form-field>
    <p> Selected car: {{selectedCar}} </p>
</form>
