<mat-sidenav-container
    (backdropClick)="close('backdrop')" *ngIf="shouldRun" class="example-container">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <p>
            <button (click)="close('toggle button')" mat-button>Toggle</button>
        </p>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button (click)="sidenav.open()" mat-button>Open</button>
        </p>
        <p>Closed due to: {{reason}}</p>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
