<div class="container col-mx-12 content text-center">
  <form name="signUpForm" [formGroup]="signUpForm" class="signUpForm" (ngSubmit)="submitSignUp()" fxLayout="column"
    fxFlex>

    <h4>Inscrivez-vous</h4>
    <input type="text" name="nom" formControlName="nom" class="form-control" id="nom" placeholder="NOM" width="100%" />
    <input type="text" name="prenom" formControlName="prenom" class="form-control" id="prenom" placeholder="PRENOM"
      width="100%" />
    <input type="text" name="email" formControlName="email" class="form-control" id="email" placeholder="Email"
      width="100%" />
    <input type="password" name="password" formControlName="password" class="form-control" id="password"
      placeholder="MOT DE PASSE" width="100%" />


    <button type="submit" [disabled]="!signUpForm.valid" class="btn login-button">Confirmer</button>
  </form>
</div>