<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <p>
        {{data.message}}
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button (click)="onDismiss()" *ngIf="data.titleCancelButton" class="btn cancel-button" color="primary"
                mat-button>{{data.titleCancelButton}}</button>
        <button (click)="onConfirm()" *ngIf="data.titleConfirmButton" class="btn confirm-button"
                mat-raised-button>{{data.titleConfirmButton}}</button>
    </div>
</mat-dialog-actions>
