

<div class="main-content">
    <!--<img src="assets/images/basket/leaf1.PNG" id="leaf1">-->
    <!--<img src="assets/images/basket/leaf2.PNG" id="leaf2">-->
    <hr class="section-line">
    
    <div class="container content text-center">
        
        <div class="row">
            <div class="col-md-4 text-left">
                <a [routerLink]="['/basket']">
                <h5 class="section-number section-number1 text-center">1</h5>
                </a>
            </div>
            <div class="col-md-4 text-center">
            <a [routerLink]="['/second-step']">
                <h5 class="section-number section-number2 text-center">2</h5>
            </a>
            </div>
            <div class="col-md-4 text-right">
            <a [routerLink]="['/third-step']">
                <h5 class="section-number section-number3 text-center">3</h5>
            </a>
            </div>  
        </div>

        <div class="text-center">
        <h4 class="section-title">Payer par carte bancaire</h4>
        </div>

        <div class="paiement-form text-center">
            <select placeholder="Pays">
                <option value="tunisia">Tunisie</option>
                <option value="france">France</option>
                <option value="england">Angleterre</option>
            </select>
            <input type="text" name="line1" placeholder="Nom"><br>
            <input type="text" name="line1" placeholder="Prénom"><br>
            <input type="text" name="line1" placeholder="Numéro de carte crédit"><br>
            <select placeholder="Type de paiement">
                <option value="Type1">Type1</option>
                <option value="Type2">Type2</option>
                <option value="Type3">Type3</option>
            </select>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h6 class="form-label">Date d'expiration</h6>
                </div>
                <div class="col-md-3">
                    <input type="number" name="month" class="date-input" placeholder="00">
                </div>
                <div class="col-md-3">
                    <input type="number" name="year" class="date-input" placeholder="00">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h6 class="form-label">Cryptogramme visuel</h6>
                </div>
                <div class="col-md-6">
                    <input type="password" name="month" class="crypto-input" placeholder="000">
                </div>
            </div>
            <button class="btn confirm-button">
                Confirmer
            </button>
        </div>
    
    </div>
</div>