<div class="header">
    <div class="bg-color">
        <header id="main-header">
            <app-navbar></app-navbar>
            <div class="container col-mx-12 content text-center">
                <h4>Mot de passe<br>oublié</h4>
                <p>Entrez votre email pour récupérer votre mot de passe</p>
                <input type="email" name="email" class="form-control" id="email" placeholder="EMAIL" width="100%"/>
                <button class="btn valider-button">Valider</button>
            </div>           
        </header>
    </div>
</div>
