#boopon-button:hover {
    color: #fff !important;
    background-color: #f6b4d1 !important;
    border: solid 2px #fff !important;
}

#login-button:hover {
    color: #fff !important;
    background-color: #f6b4d1 !important;
    border: solid 2px #fff !important;
}

#title {
    padding: 13em 0 2em 0;
    background-color: #fff;
}

#concept {
    padding-top: 10%;
    padding-bottom: 5%;
}

.concept-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    font-size: 3.5em;
    margin-bottom: 6%;
}

.concept-text {
    color: #29246b;
    font-size: 1.7em;
    letter-spacing: 0.2em;
}

#gift-image {
    width: 80%;
}

#blue-frame {
    background-color: #bcebf1;
    border-radius: 30px;
    padding: 1%;
    margin-top: 3%;
}

#white-frame {
    border: #bcebf1 4px solid;
    border-radius: 50px;
    padding: 1% 2%;
    margin: 3%;
}

.frame-text {
    color: #29246b;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.how-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    font-size: 2.8em;
    margin-bottom: 6%;
}

#contenu {
    padding-top: 5%;
    padding-bottom: 20%;
    background-color: #29246b;
}

.contenu-title {
    font-weight: 900;
    color: #7dced8;
    letter-spacing: 0.1em;
    margin-top: 13%;
    margin-left: 25%;
    text-transform: uppercase;
}

#demarche {
    background-color: white;
    padding-top: 5%;
    padding-bottom: 82%;
}

.demarche-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    margin-left: 25%;
    text-transform: uppercase;
}

#demarche> h1{
    font-size: 2em;
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
}

.demarche-element {
    margin: 2em 0;
}

.etape-number {
    background-color: #29246b;
    border: solid #f6b4d1 0.3em;
    color: #f6b4d1;
    font-size: 1.1em;
    font-weight: bolder !important;
    border-radius: 50%;
    height: 2.3em;
    width: 2.3em;
    margin: auto;
    vertical-align: 50%;
    margin-top: 30%;
    padding-top: 0.18em;
    margin-left: 80%;
  }

.etape-illustration {
height: 9em !important;
width: auto;
}

.etape-text>h4 {
font-weight: 900;
color: #29246b;
text-transform: uppercase;
}

.etape-text>p {
color: #29246b;
font-size: 1.1em;
}

#contact {
    background-color: #29246b;
    padding: 3%;
}

.contact-text {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1em;
    font-size: 2em;
    margin-bottom: 6%;
}

input, textarea {
    max-width: 500px;
    background-color: #7dced8 !important;
    color: #29246b !important;
    font-weight: 100 !important;
    font-size: 1.1em !important;
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 0.2em;
    border-radius: 15px !important;
    border: transparent !important;
    display: inline-block !important;
  }
  
  textarea {
    padding: 1em 1em !important;
  }
  
  input {
    padding:1.6em 1em !important;
  }
  
  ::placeholder {
    color: #29246b !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #29246b !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #29246b !important;
  }
  
  .contact-button {
    background-color: #7dced8;
    color: #29246b;
    /*border: solid 2px #3da7e4;*/
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  .contact-button:hover {
    background-color: transparent;
    color: #7dced8;
    border: solid 1px #7dced8;
  }
  
  .send-button:hover {
    border: solid 2px #29246b;
  }
  
  .send-button>i {
    font-size: 1.5em;
  }