<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Modifier Catégorie </span>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-24 m-0" fusePerfectScrollbar mat-dialog-content>
        <form [formGroup]="categorieEditForm" class="compose-form" fxFlex fxLayout="column" name="composeForm">

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nom</mat-label>
                    <input formControlName="name" matInput required value={{categorie.name}}>
                    <mat-icon class="secondary-text" matSuffix>category</mat-icon>
                    <mat-error>Vous devez nommer votre Categorie</mat-error>
                </mat-form-field>

            </div>

        </form>
    </div>
    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-actions>
        <div>
            <button (click)="updateCategorie(categorieEditForm)" aria-label="SAVE" class="save-button" color="accent"
                    mat-raised-button>
                SEND

            </button>
            <!--<mat-label> <span class="primary-text" [ngStyle]="{'color': 'green'}"> Icon:</span>
            </mat-label>
            <button (click)="fileInput.click()" mat-icon-button matTooltip="Attach a file">
              <mat-icon>attach_file</mat-icon>
              <input #fileInput type="file" style="display:none;" (change)="onIconFileChange($event)">
            </button>

            <mat-label *ngIf="iconFile"> <span  class="secondary-text">{{iconFile.name}}</span>
            </mat-label>
            -->
        </div>


    </div>
</div>