::placeholder {
    color: dimgray !important;
    font-weight:200 !important;
    font-size: 0.7em !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: dimgray !important;
    font-weight:200 !important;
    font-size: 0.7em !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: dimgray !important;
    font-weight:200 !important;
    font-size: 0.7em !important;
}

#leaf1 {
    position: absolute;
    top: 20%;
    right: 0;
    width: 10em;
    height:auto;
    z-index: -1;
}

#leaf2 {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.content {
    margin-top: 15%;
    padding: 0 2em;
}

.section-number {
    border: 2px solid #29246b;
    border-radius: 100px;
    color: #29246b;
    font-weight: bolder;
    padding: 0.3em;
    width: 2em;
    font-size: 1em;
}

.section-line {
    height: 2px;
    width: 80%;
    background: #29246b;
    position: absolute;
    left: 10%;
}

.section-number1 {
    background-color: white;
}

.section-number2 {
    margin-left: 45%;
    background-color: #f6b4d1;
}

.section-number3 {
    margin-left: 90%;
    background-color: #fff;
}

.section-title {
    font-weight: 900;
    text-transform: uppercase;
    color: #29246b;
}

/* Table */

.table {
    margin-top: 2em;
}

.table-header {
    color: #29246b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
}

.total-header {
    margin-left: 5em;
}

.purchases-table {
    border: #29246b solid 3px;
    border-radius: 0.7em;
    padding: 0.2em;
    background: white;
}

.table-content {
    margin-top: 2em;
}

.purchase {
    margin-top: 5%;
}

.form-title {
    color: #29246b;
    text-transform: uppercase;
    font-size: 0.8em;
}

input {
    border: 3px solid #29246b;
    border-radius: 0.4em;
    padding: 0.2em 0.5em 0.5em 0.5em; 
    margin: 0.2em !important;
    width: 100%;
}

select {
    border: 3px solid #29246b;
    border-radius: 0.4em;
    padding: 0.2em 0.5em 0.5em 0.5em; 
    margin: 0.2em !important;
    color: #29246b;
    font-weight: 900;
    width: 90%;
}

option:hover {
    background-color: #29246b !important;
    color: #fff !important;
}

.addresses {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 14.5em;
}


.add-address {
    margin-top: 0.5em;
}

.total-table {
    border: #29246b solid 3px;
    border-radius: 0.7em;
}

.total {
    margin-left: 5em;
}

.confirm-button {
    background-color: #7dced8;
    color: #29246b;
    border-radius: 1em;
    text-transform: uppercase;
    padding: 0.5em 0.7em;
    font-size: 0.7em;
    font-weight: 900;
    margin-top: 1em;
}

.confirm-button:hover {
    color: white;
    border: 1px solid #29246b;
    background-color: #29246b;
    font-weight: 300;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 3px solid #29246b;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab button {
    color: #29246b;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  .tab button:hover {
    color: #7dced8;
  }

  .tab button.active {
    color: #7dced8;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }



  /* width */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(170, 170, 170); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #29246b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }