
<form (ngSubmit)="submitNewPassword()" [formGroup]="changePasswordForm" autocomplete="off">
    <div class="form-group">
        <input class="form-control" formControlName="email" id="email" name="email" placeholder="EMAIL" type="email"
               width="100%"/>
        <div *ngIf="f.email.touched &&  f.email.errors">
            <div *ngIf="f.email.errors.required">
                    <span class="text-danger">
                    Email is required
                    </span>
            </div>
            <div *ngIf="f.email.errors.email">
                    <span class="text-danger">
                                            Email must be a valid email address

                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="oldPassword" id="old-password" name="old-password"
               placeholder="ANCIENT MOT DE PASSES" type="password" width="100%"/>
        <div *ngIf="f.oldPassword.touched  && f.oldPassword.errors">
            <div *ngIf="f.oldPassword.errors.required">
                    <span class="text-danger">
                                            Old Password is required

                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="password" id="password" name="password" placeholder="NOUVEAU MOT DE PASSE"
               type="password" width="100%"/>
        <div *ngIf="f.password.touched  && f.password.errors">
            <div *ngIf="f.password.errors.required">
                    <span class="text-danger">
                                            Password is required

                    </span></div>
            <div *ngIf="f.password.errors.minlength">
                    <span class="text-danger">
                                            Password must be at least 6 characters

                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" formControlName="confirmPassword" id="repeat-password" name="repeat-password"
               placeholder="RÉTAPER NOUVEAU MOT DE PASSE" type="password" width="100%"/>
        <div *ngIf="f.confirmPassword.touched  && f.confirmPassword.errors">
            <div *ngIf="f.confirmPassword.errors.required">
                    <span class="text-danger">
                        Password is required
                    </span>
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">
                    <span class="text-danger">
                        Passwords must match
                    </span></div>

        </div>
    </div>
    <div class="text-center">
        <button (click)="onReset()"  class="btn  btn-secondary valider-button"
                type="reset">Cancel
        </button>
        <button [disabled]="!changePasswordForm.valid" class="btn valider-button" type="submit">Valider</button>

    </div>
</form>


