<div class="container col-mx-12 content text-center">
    <h4>Mot de passe<br>oublié</h4>
    <p>Entrez votre email pour récupérer votre mot de passe</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
        <input type="email" name="email" class="form-control" formControlName="email" id="email" placeholder="EMAIL" width="100%" />
        <div *ngIf="f.email.touched &&  f.email.errors">
            <div *ngIf="f.email.errors.required">
                    <span class="text-danger">
                    Email is required
                    </span>
            </div>
            <div *ngIf="f.email.errors.email">
                    <span class="text-danger">
                                            Email must be a valid email address

                    </span>
            </div>
        </div>
        <button [disabled]="!resetPasswordForm.valid" class="btn valider-button" type="submit">Valider</button>

    </form>

</div>
