<div class="container col-mx-12 content">
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jon-snow-rhaegar-targaryen-1554321615.jpg?crop=0.482xw:0.962xh;0,0&resize=768:*"
                class="profile-pic">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <ul>
                    <li>
                        <button class="btn photo-button">
                            <!--<i class="fas fa-camera"></i>-->
                            Changer photo
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-md-7 text-center">
            <mat-tab-group>
                <mat-tab label="Details">
                    <router-outlet></router-outlet>
                </mat-tab>
                <mat-tab label="Commandes">
                    <app-commande-details></app-commande-details>
                </mat-tab>
                <mat-tab label="Chèques">
                    <app-cheque-details></app-cheque-details>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>