<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lauraMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/images/navbar/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="lauraMenu">
      <ul class="nav navbar-nav">
        <li><a href="#boobox" class="navbar-link">BOO'BOX</a></li>
        <li><a href="#guide" class="navbar-link">BOO's guide</a></li>
        <li><a href="#bookeurs" class="navbar-link">BOO'keurs</a></li>
        <li><a href="#contact" class="navbar-link">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav ml-auto navbar-right">
        <li>
          <a [routerLink]="['/boopon']">
            <button type="button" class="btn" id="boopon-button">
              J'ai un BOO'PON
            </button>
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']">
            <button type="button" class="btn" id="login-button">
              LOGIN
            </button>
          </a>
        </li>
        <li>
          <a [routerLink]="['/basket']">
            <img src="assets/images/navbar/PANIER.svg" width="26em">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>