#boopon-button:hover {
    color: #fff !important;
    background-color: #f6b4d1 !important;
    border: solid 2px #fff !important;
}

#login-button:hover {
    color: #fff !important;
    background-color: #f6b4d1 !important;
    border: solid 2px #fff !important;
}

#title {
    padding: 13em 0 2em 0;
    background-color: #fff;
}

#who {
    background-color: #29246b;
    padding-top: 13%;
    padding-bottom: 9%;
    text-align: center;
}

.who-title {
    font-weight: 900;
    color: #ada8eb;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.who-text {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    padding-top: 1.5em;
}

.why-image {
    width: 100%;
}

#why {
    padding-top: 5%;
    padding-bottom:5%;
    background-color: #fff;
    text-align: center;
}

.why-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
}

.why-text {
    color: #f3fd6f;
    font-size: 1.1em;
    font-weight: 100;
    padding-top: 3em;
}

.why-subtext {
    color: #f3fd6f;
    font-size: 1.1em;
    font-weight: 100;
    padding-top: 0.2em;
}

.why-subtitle {
    padding-top: 1em;
    font-weight: 700;
    color: #29246b;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.why-element {
    padding: 1em;
}

.why-elements {
    margin-top: 2em;
}

#engagements {
    background-color: #c2e2f5;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 30px;
}

.engagements-title {
    color: #29246b;
    font-weight: bolder;
    padding-bottom: 0.5em;
}

.engagements-text {
    color: #29246b;
    width: 90%;
    font-size: 2em;
}

#how {
    background-color: #7dced8;
    padding-top: 5%;
    padding-bottom: 2%;
}

.how-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    margin-left: 25%;
    text-transform: uppercase;
}

.how-text {
    color: #29246b;
    font-size: 1.1em;
    font-weight: 100;
    width: 90%;
    padding-top: 2em;
}

#engage {
    padding-bottom: 5%;
    text-align: center;
}

.engage-title {
    font-weight: 900;
    color: #29246b;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

.engage-text {
    color: #29246b;
    font-size: 1.7em;
    font-weight: 500;
    padding-top: 0.5em;
    text-align: center;
}

form {
    width: 35%;
    margin-left: 32.5%;
}

#faq {
    background-color: #33246b;
    padding: 3% 0;
}

#faq>h1 {
    color: #7dced8;
    font-weight: 700;
    margin-bottom: 1em;
}

#faq>button {
    max-width: 25em;
}

input {
    background-color: white !important;
    color: dimgray !important;
    border: 2px solid #29246b !important;
    font-size: 0.8em !important;
    padding-left: 0.7em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    font-weight: bold !important;
    letter-spacing: 0.1em !important;
    border-radius: 7px !important;
}

.submit-button {
    background-color: #29246b;
    color: #7dced8;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 0.1em;
    border-radius: 20px;
    padding: 0.4em 1em;
}