
<section id="concept">
    <div class="container text-center">
        <h1 class="concept-title">BOO'S GUIDE</h1>
        <p class="concept-text">Offrir un cadeau est le meilleur moyen pour créer un bonheur durable!</p>
        <br>
        <div class="row col-12">
            <div class="col-md-2">
                <img src="assets/images/home/Coffret.svg" id="gift-image">
            </div>
            <div class="col-md-10">
                <p class="concept-text text-left" style="padding-top: 1em;">Ma mission est de faire répandre à ce bonheur.</p>                
            </div>
        </div>
        <div id="blue-frame">
            <p class="concept-text">L'aventure commence avec des BOO'BOX.<br>
            Ce sont des coffrets cadeaux numériques qui invitent leurs<br>
            bénéficiaires à choisir et de profiter d'une offre parmi plusieurs.<br>
            <br>
            Les offres sont des produits et/ou des services sélectionnés avec<br>
            soin, parmi ceux que proposent les BOO'KEURS.</p>
        </div>

        <div id="white-frame">
            <div class="row">
                <div class="col-md-9">
                    <p class="frame-text" style="padding-top: 4%;">Une BOO'BOX contient un <b>BOO'K</b> dans lequel<br>
                    tous les détails des offres sont présentés,</p>
                </div>
                <div class="col-md-3 text-left">
                    <img src="assets/images/guide/book.png" width="70%">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <img src="assets/images/guide/boopon.png" width="100%">
                </div>
                <div class="col-md-10">
                    <p class="frame-text text-left" style="padding-top: 2%;">et un <b>BOO'PON</b> avec lequel le bénéficiaire pourra profiter de son cadeau directement auprès des BOO'KEURS.</p>
                </div>
            </div>
        </div>

        <h1 class="how-title">Comment ça marche ?</h1>

        <div class="col-md-12 demarche-element" style="margin-top:0;">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">1</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide1.svg" class="etape-illustration" width="100%">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                <h4>Tu commandes</h4>
                <p>Je propose des BOO'BOX par thème et par occasion.<br>
                D'un clic sur le bouton J'achète, la BOO'BOX de ton choix sera<br>
                ajoutée à ton panier. Il suffit d'afficher le panier et suivre les<br>
                étapes pour valider la commande et payer en ligne en toute<br>
                sécurité grâce à la solution de paiement XXXX.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">2</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/etape2.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                <h4>JE TRAITE</h4>
                <p>Je crée un BOO'PON pour chaque BOO'BOX commandées, je le<br>
                fais glisser avec le BOO'K dans un coffret et comme par magie il<br>
                devient un coffret cadeau numérique prêt à offrir que tu recevras<br>
                dans ta boite mail.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">3</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide3.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Tu offres</h4>
                    <p>Le jour J, envois la BOO'BOX à l'heureux élu et le tour est joué.<br>
                    N’attends pas les occasions, crée-les!</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">4</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide4.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Il choisit</h4>
                    <p>Le bénéficiaire découvrira toutes les offres présentes dans le BOO’k<br>
                        et choisira celle qui lui ferait le plus plaisir.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">5</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide5.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Il profite</h4>
                    <p>Il profitera de son cadeau en réglant avec le BOO'PON directement<br>
                        auprès des BOO’KEURS .</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="text-center">
    <div class="container">
        <p class="contact-text">Une question? Une simple information?<br>
        Ou un feedback?<br><br>
        N'hésite pas à me contacter, je suis là pour toi!</p>
        <div class="col-md-8 col-md-push-2 text-center contact-form">
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="NOM" data-rule="minlen:3" data-msg="Un nom doit dépasser 3 caractères"/>
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="EMAIL" data-rule="email" data-msg="Veuillez entrer un email valide" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="SUJET" data-rule="minlen:5" data-msg="Un sujet doit dépasser 5 caractères" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="MESSAGE" placeholder="MESSAGE"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center">
                    <button class="btn contact-button">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>

<app-back-to-top></app-back-to-top>