
<section id="concept">
    <div class="col-md-4">
        <h1 class="concept-title">BOO's<br>Concept</h1>
    </div>
    <div class="col-md-8">
        <p class="concept-text">Une BOO’BOX est un cadeau qui offre à son bénéficiaire la possibilité de choisir un produit ou un service parmi plusieurs présentés dans un BOO’K.<br>
            Il utilisera le BOO’PON pour profiter du cadeau choisi directement auprès des BOO’KEURS : les prestataires.
        </p>
    </div>
</section>

<section id="contenu">
    <div class="col-md-4">
        <h1 class="contenu-title">Que contient une BOO’BOX?</h1>
    </div>
    <div class="col-md-8">
        <img src="" width="80%">
    </div>
</section>

<section id="demarche">
    <div class="col-md-4">
        <h1 class="demarche-title">Comment ça marche?</h1>
    </div>
    <div class="col-md-8">
        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">1</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide1.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                <h4>Tu commandes</h4>
                <p>D’un clic, la BOO’BOX de ton choix est glissée dans le panier. Il suffit d’afficher ce dernier et suivre les étapes pour valider la commande : coordonnés de livraison ; mode de payement.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">2</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide2.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                <h4>BOO livre</h4>
                <p>Actuellement BOO se trouve sur Le Grand Tunis. La livraison est gratuite sous un délai de trois jours.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">3</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide3.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Tu offres</h4>
                    <p>Offrir un cadeau, c’est faire et se faire plaisir. N’attends pas les occasions, crée-les!</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">4</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide4.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Ils choisissent</h4>
                    <p>Les bénéficiaires découvriront tous les choix qui s’offrent à eux.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 demarche-element">
            <div class="col-md-2 text-center">
                <div class="etape-number text-center">5</div>
            </div>
            <div class="col-md-3 text-center">
                <img src="assets/images/guide/guide5.svg" class="etape-illustration">
            </div>
            <div class="col-md-6">
                <div class="etape-text text-left">
                    <h4>Ils profitent</h4>
                    <p>Grâce au BOO’PON, ils profiteront de leurs cadeaux coup de cœur.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="faq" class="text-center">
    <h1>FAQs</h1>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choisissez une question
        <span class="caret"></span></button>
        <ul class="dropdown-menu text-center">
        <li><a href="#">Tu souhaites passer une commande ?</a></li>
        <li><a href="#">Tu as reçu une BOO’BOX ?</a></li>
        </ul>
    </div>
</section>

<app-back-to-top></app-back-to-top>