<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
        <mat-chip
            (removed)="remove(fruit)"
            *ngFor="let fruit of fruits"
            [removable]="removable"
            [selectable]="selectable">
            {{fruit}}
            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
            #fruitInput
            (matChipInputTokenEnd)="add($event)"
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputAddOnBlur]="addOnBlur"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            placeholder="New fruit...">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
