
<div class="container content">
    <div class="col-md-12 row">
        <div class="col-md-4 text-center">
        <img src="assets/images/home/box.svg" class="box-photo">
        <a [routerLink]="['/catalog']">
            <button class="btn box-button">
                <i class="fa fa-search"></i>voir Catalog
            </button>
        </a>
        </div>
        <div class="col-md-8 text">
        <h2 class="box-name">{{gottenBox.name}}</h2> 
        <div class="container box-description">
            <p class="box-summary">
                Je suis BOO le génie des cadeaux. Je propose des
                BOO'BOX qui offrent à leurs bénéficiaires la possibilité
                de choisir LE cadeau coup de coeur parmi plusieurs.
            </p>
            <p class="box-details">
                30 Coffrets artisanaux d'exception, réunis en un coffret-cadeau unique
            </p>
            <p class="box-details">
                Elle choisit les coffrets qu'elle préfère dans le livret
            </p>
            <p class="box-details">
                Au choix : bijoux de créateurs, produits de beauté bio ou à faire soi-même, thés du monde, chocolats artisanaux, kits de cuisine de pâtisserie, jardinage, bien-être, vins bios, bières artisanales, gastronomie
            </p>
        </div>
        <div class="text-right">
            <h3 class="price">{{gottenBox.priceClient}} dt</h3>
            <button (click)="addToShoppingCart(gottenBox)" class="btn offrir-button">J'ACHÈTE</button>
        </div>
        </div>
    </div>
</div>