<ng-container *ngIf="shouldRun">
    <mat-toolbar class="example-header">Header</mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav [fixedBottomGap]="options.value.bottom" [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                     class="example-sidenav" mode="side"
                     opened>
            {{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav
        </mat-sidenav>

        <mat-sidenav-content [formGroup]="options">
            <p>
                <mat-checkbox formControlName="fixed">Fixed</mat-checkbox>
            </p>
            <p>
                <mat-form-field>
                    <input formControlName="top" matInput placeholder="Top gap" type="number">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input formControlName="bottom" matInput placeholder="Bottom gap" type="number">
                </mat-form-field>
            </p>
            <p>
                <button (click)="sidenav.toggle()" mat-button>Toggle</button>
            </p>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
