<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Nouvelle Catégorie </span>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-24 m-0" fusePerfectScrollbar mat-dialog-content>
        <form [formGroup]="codeCheckForm" class="compose-form" fxFlex fxLayout="column" name="composeForm">

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput required>
                    <mat-icon class="secondary-text" matSuffix>category</mat-icon>
                    <mat-error>Vous devez entrer le code de votre cheque</mat-error>
                </mat-form-field>

            </div>

        </form>
    </div>
    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-actions>
        <div>
            <button (click)="submitCheque()" [disabled]="codeCheckForm.invalid" aria-label="SAVE" class="save-button"
                    color="accent" mat-raised-button>
                SEND
            </button>

        </div>


    </div>
</div>