<div class="main-content">
  <img src="assets/images/basket/leaf1.PNG" id="leaf1">
  <img src="assets/images/basket/leaf2.PNG" id="leaf2">
  <hr class="section-line">

  <div class="container content">
    <div class="row">
      <div class="col-md-4 text-left">
        <a [routerLink]="['/basket']">
          <h5 class="section-number section-number1 text-center">1</h5>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a [routerLink]="['/second-step']">
          <h5 class="section-number section-number2 text-center">2</h5>
        </a>
      </div>
      <div class="col-md-4 text-right">
        <a [routerLink]="['/third-step']">
          <h5 class="section-number section-number3 text-center">3</h5>
        </a>
      </div>
    </div>

    <div class="text-center">
      <h4 class="section-title">Mes Achats</h4>
    </div>

    <div class="row table-content">

      <div class="purchases-table col-md-9">
        <div class="col-mx-12">
          <div class="col-md-3">
            <h4 class="table-header text-center">Catalogue</h4>
          </div>
          <div class="col-md-3">
            <h4 class="table-header text-center">Prix</h4>
          </div>
          <div class="col-md-3">
            <h4 class="table-header text-center">Quatité</h4>
          </div>
          <div class="col-md-3">
            <h4 class="table-header text-center">Total</h4>
          </div>
        </div>
        <div class="purchases col-mx-12">
          <div *ngIf="orderDetailList.length == '0'" class="purchase">
            <div class="col-md-23 text-center">
              <p class="purchase-text">Empty Cart<p>
            </div>
          </div>
          <div *ngFor="let orderDetail of orderDetailList" class="purchase">
            <div class="col-md-3 text-center">
              <p class="purchase-text">{{orderDetail.box.name}}<p>
            </div>
            <div class="col-md-3 text-center">
              <p class="purchase-text">{{orderDetail.box.priceClient}} dt</p>
            </div>
            <div class="col-md-3 text-center">
              <input type="number" name="number" id="number" (change)="updateQuantite(orderDetail,$event)" value="{{orderDetail.quantity}}">
            </div>
            <div class="col-md-3 text-center">
              <p class="purchase-text">{{orderDetail.box.priceClient * orderDetail.quantity}} dt</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-2 total text-center">
        <div class="total-table">
          <h4 class="table-header">Total</h4>
          <div class="total-content">
            <p class="purchase-text">{{total}} dt</p>
          </div>
        </div>
        <button [disabled]="orderDetailList.length == '0'" (click)="confirmerOrder()" class="btn confirm-button">
          Confirmer
        </button>
      </div>
    </div>

  </div>
</div>