<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Nouveau Partenaire </span>
            <button (click)="matDialogRef.close()" aria-label="Close dialog" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="p-24 m-0" fusePerfectScrollbar mat-dialog-content>
        <form [formGroup]="partnerAddForm" class="compose-form" fxFlex fxLayout="column" name="composeForm">

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Nom</mat-label>
                    <input formControlName="name" matInput required>
                    <mat-icon class="secondary-text" matSuffix>account_circle</mat-icon>
                    <mat-error>Vous devez nommer votre Partenaire</mat-error>
                </mat-form-field>

            </div>


            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required>
                    <mat-icon class="secondary-text" matSuffix>email</mat-icon>
                    <mat-error>Vous devez Enter l'email votre Partenaire</mat-error>
                </mat-form-field>

            </div>
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Mot de passe</mat-label>
                    <input formControlName="password" matInput required>
                    <mat-icon class="secondary-text" matSuffix>paswword</mat-icon>
                    <mat-error>Vous devez Enter le mot passe</mat-error>
                </mat-form-field>

            </div>
            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Numero de Téléphone</mat-label>
                    <input formControlName="phone" matInput required>
                    <mat-icon class="secondary-text" matSuffix>phone_iphone</mat-icon>
                    <mat-error>Vous devez Entrer le numero de Téléphne votre Partenaire</mat-error>
                </mat-form-field>

            </div>
            <div fxFlex="1 0 auto" fxLayout="row wrap" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Addresse</mat-label>

                    <textarea formControlName="address" matInput required>
            </textarea>
                    <mat-icon class="secondary-text" matSuffix>home</mat-icon>

                    <mat-error>Vous devez ajouter une adresse au Partenaire</mat-error>
                </mat-form-field>


            </div>

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Ville</mat-label>
                    <input formControlName="city" matInput required>
                    <mat-icon class="secondary-text" matSuffix>location_city</mat-icon>
                    <mat-error>Vous devez ajouter une ville au Partenaire!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="34">
                    <mat-label>Gourvenerat</mat-label>
                    <input formControlName="state" matInput required>
                    <mat-icon class="secondary-text" matSuffix>location_city</mat-icon>
                    <mat-error>Vous devez ajouter une Gouvernera au Partenaire</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Code Postale</mat-label>
                    <input #postalCode formControlName="postalCode" matInput
                           max="9999" maxlength="4" min="0" required type="number">
                    <mat-icon class="secondary-text" matSuffix>markunread_mailbox</mat-icon>
                    <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
                    <mat-error>Vous devez ajouter une adresse postale au Partenaire</mat-error>
                </mat-form-field>

            </div>


        </form>
    </div>
    <div class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-actions>
        <div>
            <button (click)="submitPartenaire(partnerAddForm)" [disabled]="partnerAddForm.invalid" aria-label="SAVE" class="save-button"
                    color="accent" mat-raised-button>
                SEND

            </button>
            <mat-label><span [ngStyle]="{'color': 'green'}" class="primary-text"> Logo:</span>
            </mat-label>
            <button (click)="fileInput1.click()" mat-icon-button matTooltip="Attach a file">
                <mat-icon>attach_file</mat-icon>
                <input #fileInput1 (change)="onLogoFileChange($event)" accept="image/*" style="display:none;"
                       type="file">
            </button>

            <mat-label *ngIf="logoFile"><span class="secondary-text">{{logoFile.name}}</span>
            </mat-label>

        </div>


    </div>
</div>