<mat-sidenav-container *ngIf="shouldRun" class="example-container">
    <mat-sidenav #sidenav (closed)="events.push('close!')" (opened)="events.push('open!')" [(opened)]="opened"
                 mode="side">
        Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
        </p>
        <p>
            <button (click)="sidenav.toggle()" mat-button>sidenav.toggle()</button>
        </p>
        <p>Events:</p>
        <div class="example-events">
            <div *ngFor="let e of events">{{e}}</div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
